In [1]:
!jupyter nbextension enable --py --sys-prefix gmaps

!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df2 = pd.read_csv("weather_data/cities.csv")
city_data_df2.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-10-15 22:48:24,-34.4187,19.2345,61.81,88,100,17.31
1,1,Altay,CN,2022-10-15 22:48:24,47.8667,88.1167,46.17,30,96,6.62
2,2,Aklavik,CA,2022-10-15 22:48:25,68.2191,-135.0107,24.80,74,75,10.36
3,3,De-Kastri,RU,2022-10-15 22:48:25,51.4667,140.7833,49.96,95,90,11.68
4,4,Mar Del Plata,AR,2022-10-15 22:48:25,-38.0023,-57.5575,55.94,85,0,20.00

In [3]:
city_data_df2.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df2["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df2[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df2["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df2[["Lat", "Lng"]]
humidity = city_data_df2["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df2[["Lat", "Lng"]]
clouds = city_data_df2["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind speed
locations = city_data_df2[["Lat", "Lng"]]
wind = city_data_df2["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df2.loc[(city_data_df2["Max Temp"] <= max_temp) & \
                                       (city_data_df2["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,La Asuncion,VE,2022-10-15 22:48:27,11.0333,-63.8628,85.73,66,7,12.66
12,12,Minab,IR,2022-10-15 22:48:29,27.1467,57.0801,75.52,78,0,0.00
22,22,Portland,US,2022-10-15 22:45:59,45.5234,-122.6762,88.63,28,0,20.71
29,29,Wanlaweyn,SO,2022-10-15 22:48:34,2.6185,44.8938,75.76,82,87,8.37
31,31,Rumonge,BI,2022-10-15 22:48:35,-3.9736,29.4386,76.48,47,63,3.00
35,35,Avarua,CK,2022-10-15 22:48:37,-21.2078,-159.7750,80.65,65,5,14.97
38,38,Puerto Ayora,EC,2022-10-15 22:48:38,-0.7393,-90.3518,75.16,89,72,8.01
43,43,Atuona,PF,2022-10-15 22:48:39,-9.8000,-139.0333,76.75,74,3,11.92
44,44,Papara,BR,2022-10-15 22:48:40,-3.9839,-38.7273,79.20,89,2,5.77
45,45,San Patricio,US,2022-10-15 22:48:40,28.0170,-97.5169,89.69,57,4,13.67

In [12]:
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
8    La Asuncion      VE     85.73  11.0333  -63.8628
12         Minab      IR     75.52  27.1467   57.0801
22      Portland      US     88.63  45.5234 -122.6762
29     Wanlaweyn      SO     75.76   2.6185   44.8938
31       Rumonge      BI     76.48  -3.9736   29.4386
35        Avarua      CK     80.65 -21.2078 -159.7750
38  Puerto Ayora      EC     75.16  -0.7393  -90.3518
43        Atuona      PF     76.75  -9.8000 -139.0333
44        Papara      BR     79.20  -3.9839  -38.7273
45  San Patricio      US     89.69  28.0170  -97.5169

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,La Asuncion,VE,85.73,11.0333,-63.8628,Colinas de Matasiete
12,Minab,IR,75.52,27.1467,57.0801,Bam campground
22,Portland,US,88.63,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
29,Wanlaweyn,SO,75.76,2.6185,44.8938,GAASHAAN HOME
31,Rumonge,BI,76.48,-3.9736,29.4386,Kwetu Guest House

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))