# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df =pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df=pd.DataFrame(city_data_df)
# Display sample data
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Airai,TL,-8.9266,125.4092,63.12,93,100,0.25,overcast clouds
1,1,San Ramon De La Nueva Oran,AR,-23.1322,-64.3260,72.43,67,100,4.25,overcast clouds
2,2,Carnarvon,AU,-24.8667,113.6333,65.91,68,0,26.33,clear sky
3,3,Hithadhoo,MV,-0.6000,73.0833,82.00,70,97,9.98,overcast clouds
4,4,Balkanabat,TM,39.5108,54.3671,73.74,40,26,4.50,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Hithadhoo,MV,-0.6000,73.0833,82.00,70,97,9.98,overcast clouds
6,6,Tangwani,PK,28.2787,68.9972,81.21,19,0,5.06,clear sky
7,7,Inhambane,MZ,-23.8650,35.3833,82.38,57,40,11.50,scattered clouds
14,14,Banda Aceh,ID,5.5577,95.3222,79.63,77,100,12.75,overcast clouds
18,18,Ecoporanga,BR,-18.3733,-40.8306,80.35,52,99,2.42,overcast clouds

In [5]:
preferred_cities_df.count()

Unnamed: 0             233
City                   233
Country                232
Lat                    233
Lng                    233
Max Temp               233
Humidity               233
Cloudiness             233
Wind Speed             233
Current Description    233
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
# Display sample data
clean_travel_cities.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Hithadhoo,MV,-0.6000,73.0833,82.00,70,97,9.98,overcast clouds
6,6,Tangwani,PK,28.2787,68.9972,81.21,19,0,5.06,clear sky
7,7,Inhambane,MZ,-23.8650,35.3833,82.38,57,40,11.50,scattered clouds
14,14,Banda Aceh,ID,5.5577,95.3222,79.63,77,100,12.75,overcast clouds
18,18,Ecoporanga,BR,-18.3733,-40.8306,80.35,52,99,2.42,overcast clouds

In [7]:
clean_travel_cities.count()

Unnamed: 0             232
City                   232
Country                232
Lat                    232
Lng                    232
Max Temp               232
Humidity               232
Cloudiness             232
Wind Speed             232
Current Description    232
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

                City Country  Max Temp Current Description      Lat       Lng
3          Hithadhoo      MV     82.00     overcast clouds  -0.6000   73.0833
6           Tangwani      PK     81.21           clear sky  28.2787   68.9972
7          Inhambane      MZ     82.38    scattered clouds -23.8650   35.3833
14        Banda Aceh      ID     79.63     overcast clouds   5.5577   95.3222
18        Ecoporanga      BR     80.35     overcast clouds -18.3733  -40.8306
..               ...     ...       ...                 ...      ...       ...
688  Rodrigues Alves      BR     79.00     overcast clouds  -7.7380  -72.6509
689         Misratah      LY     75.63       broken clouds  32.3754   15.0925
690            Lahij      YE     80.37    scattered clouds  13.1667   44.5833
691        Kununurra      AU     84.18       broken clouds -15.7667  128.7333
692             Faya      SA     75.31    scattered clouds  18.3851   42.4509

[232 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]=""

# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Hithadhoo,MV,82.00,overcast clouds,-0.6000,73.0833,
6,Tangwani,PK,81.21,clear sky,28.2787,68.9972,
7,Inhambane,MZ,82.38,scattered clouds,-23.8650,35.3833,
14,Banda Aceh,ID,79.63,overcast clouds,5.5577,95.3222,
18,Ecoporanga,BR,80.35,overcast clouds,-18.3733,-40.8306,
...,...,...,...,...,...,...,...
688,Rodrigues Alves,BR,79.00,overcast clouds,-7.7380,-72.6509,
689,Misratah,LY,75.63,broken clouds,32.3754,15.0925,
690,Lahij,YE,80.37,scattered clouds,13.1667,44.5833,
691,Kununurra,AU,84.18,broken clouds,-15.7667,128.7333,
692,Faya,SA,75.31,scattered clouds,18.3851,42.4509,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Hithadhoo,MV,82.00,overcast clouds,-0.6000,73.0833,Scoop Guest House
6,Tangwani,PK,81.21,clear sky,28.2787,68.9972,Malik Hafeez Markeet
7,Inhambane,MZ,82.38,scattered clouds,-23.8650,35.3833,Oceano
14,Banda Aceh,ID,79.63,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
18,Ecoporanga,BR,80.35,overcast clouds,-18.3733,-40.8306,Hotel Bar e Restaurante do Dico
...,...,...,...,...,...,...,...
688,Rodrigues Alves,BR,79.00,overcast clouds,-7.7380,-72.6509,Pousada Aconchego
689,Misratah,LY,75.63,broken clouds,32.3754,15.0925,Almasa Hotel
690,Lahij,YE,80.37,scattered clouds,13.1667,44.5833,
691,Kununurra,AU,84.18,broken clouds,-15.7667,128.7333,Hotel Kununurra
692,Faya,SA,75.31,scattered clouds,18.3851,42.4509,شيلة نسايم

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [13]:
hotel_df.count()

City                   232
Country                232
Max Temp               232
Current Description    232
Lat                    232
Lng                    232
Hotel Name             232
dtype: int64

In [14]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()
# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Hithadhoo,MV,82.00,overcast clouds,-0.6000,73.0833,Scoop Guest House
6,Tangwani,PK,81.21,clear sky,28.2787,68.9972,Malik Hafeez Markeet
7,Inhambane,MZ,82.38,scattered clouds,-23.8650,35.3833,Oceano
14,Banda Aceh,ID,79.63,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
18,Ecoporanga,BR,80.35,overcast clouds,-18.3733,-40.8306,Hotel Bar e Restaurante do Dico
...,...,...,...,...,...,...,...
688,Rodrigues Alves,BR,79.00,overcast clouds,-7.7380,-72.6509,Pousada Aconchego
689,Misratah,LY,75.63,broken clouds,32.3754,15.0925,Almasa Hotel
690,Lahij,YE,80.37,scattered clouds,13.1667,44.5833,
691,Kununurra,AU,84.18,broken clouds,-15.7667,128.7333,Hotel Kununurra
692,Faya,SA,75.31,scattered clouds,18.3851,42.4509,شيلة نسايم

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [15]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [16]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [17]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [18]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Malik Hafeez Markeet</dd>\n<dt>City</dt><dd>Tangwani</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Oceano</dd>\n<dt>City</dt><dd>Inhambane</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 884 Rumoh PMI Hotel</dd>\n<dt>City</dt><dd>Banda Aceh</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.63 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Bar e Restaurante do Dico</dd>\n<dt>City</dt><dd>Ecoporanga</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel la Favorita</dd>\n<dt>City</dt><dd>Mantua</dd>\n<dt>Country</dt><dd>IT</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>light rain and 84.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>DoubleFAG</dd>\n<dt>City</dt><dd>Labuhan</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>light rain and 79.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mega Hotel, Miri</dd>\n<dt>City</dt><dd>Miri</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>light rain and 75.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Barrio el progreso</dd>\n<dt>City</dt><dd>Teupasenti</dd>\n<dt>Country</dt><dd>HN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.32 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [19]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3   -0.6000   73.0833
6   28.2787   68.9972
7  -23.8650   35.3833
14   5.5577   95.3222
18 -18.3733  -40.8306
20  45.1667   10.7833
28   5.4112  100.3354
29  -6.8844  112.2051
38   4.4148  114.0089
40  14.2167  -86.7000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [20]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
# YOUR CODE HERE

fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))